@use '../../abstracts' as *;

.add-matchup-inline {
  display: flex;
  flex-direction: column;
  gap: $sp-1;

  .input {
    width: 100%;
    border-radius: $radius-lg;
    background: rgba($slate-800, 0.5);
    border: 1px solid $slate-600;
    padding: $sp-3;
    font-size: $text-sm;
    line-height: $leading-sm;
    color: inherit;
    font-weight: 500;

    &::placeholder {
      color: $slate-500;
      font-weight: 400;
    }

    &:focus {
      @include focus-ring;
    }
  }

  .error {
    color: $red-400;
    font-size: $text-xs;
    line-height: $leading-xs;
    padding-left: $sp-3;
  }
}
