@use '../../abstracts' as *;

.in-out-counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: $text-sm;
  line-height: $leading-sm;

  .counts {
    display: flex;
    align-items: center;
    gap: $sp-4;
  }

  .out-count {
    color: $red-400;
    font-weight: 500;
  }

  .in-count {
    color: $green-400;
    font-weight: 500;
  }

  .status {
    font-size: $text-sm;
    line-height: $leading-sm;
  }

  .balanced {
    color: $green-400;
    font-weight: 500;
  }

  .diff {
    color: $yellow-400;
    font-weight: 500;
  }
}
