@use '../../abstracts' as *;

.in-out-counter {
  display: flex;
  align-items: center;
  gap: $sp-2;
  font-size: $text-sm;
  line-height: $leading-sm;

  .swap-count {
    font-weight: 500;
  }

  .diff {
    color: var(--color-warning);
    font-weight: 500;
  }
}
