@use '../../abstracts' as *;

.stale-card-banner {
  border-radius: $radius-xl;
  background: rgba($yellow-950, 0.4);
  @include glass-blur(12px);
  border: 1px solid rgba($yellow-800, 0.5);
  padding: $sp-3;

  .heading {
    color: $yellow-200;
    font-size: $text-sm;
    line-height: $leading-sm;
    font-weight: 500;
  }

  .body {
    color: rgba($yellow-300, 0.7);
    font-size: $text-xs;
    line-height: $leading-xs;
    margin-top: $sp-1;
  }
}
