@use '../abstracts' as *;

.home-page {
  display: flex;
  flex-direction: column;
  gap: $sp-8;

  .hero {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: $sp-3;
    padding-top: $sp-8;
  }

  .title {
    font-size: $text-3xl;
    line-height: $leading-3xl;
    font-weight: 700;
    letter-spacing: -0.03em;
  }

  .subtitle {
    color: $slate-400;
    font-size: $text-base;
    line-height: $leading-base;
  }
}
